@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

:root {
  --bg-primary: #ffffff;
  --malayalam-font: "Manjari", sans-serif;
  --poppins: "Poppins", serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
}

/* home */
.home {
  width: 100%;
  height: 100lvh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}
/* preloader */
.preloader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins);
  color: #fff;
  gap: 10px;
  font-size: 18px;
  z-index: 999;
}

#bars {
  display: flex;
  justify-content: center;
  align-items: center;
  /*     background: black; */
}

.bar {
  background: #ffffff;
  height: 20px;
  width: 4px;
  margin: 0px 4px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 20px;
  }
  100% {
    opacity: 1;
    height: 40px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 15px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 24px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 18px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 20px;
  animation-duration: 400ms;
}

/* chat */
:root {
  --color-violet: 0, 20, 255;
  --color-orange: 255, 120, 0;
  --color-black: 10, 10, 10;
  --color-white: 255, 255, 255;
  --rotation-duration: 6s;
  --dynamic-border-radius: 55%;
}

.scale-1 {
  scale: 0.66;
  transform: rotate(240deg);
}
.scale-2 {
  scale: 0.53;
  transform: rotate(80deg);
}
.scale-3 {
  scale: 0.16;
  transform: rotate(30deg);
}

/* Formato esfera + sombra */
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: var(
    --dynamic-border-radius
  ); /* Usando o border-radius dinâmico */
  box-shadow: 0 0 20px 10px rgba(var(--color-orange), 0.05);
  animation: rotateShape var(--rotation-duration) infinite ease-in-out;
}

/* Primeira esfera rotacionando com luz laranja */
.chat-ui {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 20%;
}
.circle-1 {
  background: radial-gradient(
    circle,
    rgba(var(--color-black), 0) 0%,
    rgba(var(--color-black), 0) 67%,
    rgba(var(--color-orange), 1) 73%,
    rgba(var(--color-orange), 1) 100%
  );
}

/* Segunda esfera rotacionando com luz violeta */
.circle-2 {
  background: radial-gradient(
    circle,
    rgba(var(--color-black), 0) 0%,
    rgba(var(--color-black), 0) 67%,
    rgba(var(--color-violet), 1) 75%,
    rgba(var(--color-violet), 1) 100%
  );
  animation: rotateShape var(--rotation-duration) infinite reverse ease-in-out;
}

/* Terceira esfera com luz branca */
.circle-3 {
  background: radial-gradient(
    circle,
    rgba(var(--color-black), 0) 0%,
    rgba(var(--color-black), 0) 70%,
    rgba(var(--color-white), 1) 73%,
    rgba(var(--color-white), 1) 100%
  );
}

/* Animação de rotação */
@keyframes rotateShape {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    border-radius: var(--dynamic-border-radius);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1.05);
    border-radius: 45% 55% 50% 50%; /* Deformação adicional durante a animação */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
    border-radius: var(--dynamic-border-radius); /* Retorna ao valor dinâmico */
  }
}

.gradient-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    rgba(var(--color-orange), 1),
    rgba(var(--color-violet), 1),
    rgba(var(--color-white), 1),
    rgba(var(--color-orange), 1)
  );
  animation: spin 10s infinite;
  transform-origin: center;
}

/* voice */
.voice-record {
  border: 1px solid #f4cfb8;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 20px 20px;
  color: #f4cfb8;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  cursor: pointer;
}

/* voice-txt */
.voice-txt {
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px 20px;
}

.voice-txt-p {
  font-size: 24px;
  background: -webkit-linear-gradient(#7a6852, #ababab66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* changes */
.hero-txt {
  width: 460px;
  margin-top: 60px;
}

.speaker {
  position: absolute;
  right: 10%;
  bottom: 20%;
  z-index: 0;
  rotate: 10deg;
  height: 400px;
}

.btn {
  cursor: pointer;
  margin-top: 40px;
  z-index: 999;
}

audio {
  opacity: 0;
}

@media (max-width: 1000px) {
  .hero-txt {
    width: 380px;
  }
  .speaker {
    width: 200px;
    height: 300px;
    bottom: 40px;
    right: 10px;
  }
  .voice-txt-p {
    font-size: 20px;
    padding-inline: 20px;
  }
}

@media (max-width: 700px) {
  .hero-txt {
    width: 260px;
    margin-top: 140px;
    z-index: 10;
  }
  .speaker {
    width: 140px;
    height: 200px;
    top: 80px;
    right: 120px;
  }
  .voice-txt-p {
    font-size: 16px;
    margin-top: -20px;
  }
  .btn{
    width: 100px;
    height: 100px;
  }
}
